/* navbar*/
.navbar-inverse .navbar-nav .nav-link {
    color: #DBDBDB;
    padding-right: 5px;
    padding-left: 0;
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}



/*Form Styles*/
.form {
    height: 100vh;
    background-color: #1F2729;
    color: #DBDBDB;
    padding: 50px;
}

.input{
    margin: 15px 0;
}

.radio-options{
    margin: 30px 0;
}

.radio-options h5{
    margin-bottom: 10px;
}

.radio-options input{
    margin-left: 10px;
}

.form-control {
    display: block;
    background-color: #1F2729;
    border: none;
    border-bottom: 1px solid #81D079;
    border-radius: 0;
}

.form-control:focus{
    background-color: #1F2729;
    border-bottom: 1px solid #fff;
}

.btn {
    padding: 15px;
    background-color: #a4dd9f;
    margin: 20px 0;
    border-radius: 0;
}

.intro-msg{
    padding: 50px;
}

.form p a{
    color: #81D079;
}

.form p a:hover{
    color: #444444;
}

/*End Form Styles*/